<html>
<head>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# githubog: http://ogp.me/ns/fb/githubog#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub" />
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144.png" />

    
    
    <link rel="icon" type="image/x-icon" href="/favicon.png" />

    <meta content="authenticity_token" name="csrf-param" />
<meta content="x9sQnnC/TDakUEmtMXOHuC4LqhF+2+f3Mx3OcMK7eVo=" name="csrf-token" />

    <link href="https://a248.e.akamai.net/assets.github.com/assets/github-78df541aa7e7c0d038536bb979d896805331f6ee.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://a248.e.akamai.net/assets.github.com/assets/github2-a2d333a1fd790f13b3c38ae51111c0acdbca7b65.css" media="screen" rel="stylesheet" type="text/css" />
    


    
    

    
  </head>

  

<body>

  <body class="logged_out wider linux  env-production ">
    <div id="wrapper">

    
    

      <div id="header" class="true clearfix">
        <div class="container clearfix">
        


                  <!--
      make sure to use fully qualified URLs here since this nav
      is used on error pages on other domains
    -->
    <ul class="top-nav logged_out">
       
    </ul>



          
        </div>
      </div>



       <div class="site home"><div class="container">
  <div class="pagehead homehead">
    <div class="hero">
  

      	  {% block content %}{% endblock %}
    
    </div>
  </div>

  

  

 
      <div id="footer-push"></div><!-- hack for sticky footer -->
    </div><!-- end of wrapper - hack for sticky footer -->

      <!-- footer -->
      <div id="footer" >
        
  <div class="upper_footer">
  
  </div><!-- /.upper_footer -->


    


    
    <span id='server_response_time' data-time='0.02097' data-host='fe18'></span>
  </body>
</html>



